<div style="background-color:rgba(0,255,0,0.3);" class="jumbotron"> <!-- jumbotron -->
<div align="center"><img class="img-responsive" src="/livewater/images/stripe_logo.jpg" width="33%" height="33%" title="Livewater Farm does not store credit card numbers !"/></div>
<!-- *URL*<div align="center"><img class="img-responsive" src="/images/stripe_logo.jpg" width="33%" height="33%" title="Livewater Farm does not store credit card numbers !"/></div> -->
<br clear="all" />

<?php // Display the cart:
include('./views/checkout_cart.html');

echo '<div class="text-center mb-4">';
echo '<h2>Your Billing Information</h2>';
echo '<p><div class="popup" onclick="billFunction()"><img style="border:0;" src="/livewater/images/info_icon.png" alt="Info" height="21" width="21">
  <span class="popuptext" id="billPopup">Please enter your billing information below. Then click the button to complete your order. For your security, we will not store your billing information in any way. We accept Visa, MasterCard, American Express, and Discover.</span>
</div></p></div>';

//*URL*echo '<form action="/billing.php" method="POST" id="billing_form">';
echo '<form action="/livewater/billing.php" method="POST" id="billing_form">';

if (isset($bankerror)) {
	echo "<div class=\"alert alert-danger\">$bankerror</div>";
} else {
	if (empty($billing_errors)) { 
		echo '<div class="alert alert-warning" id="error_span">Please enter credit card fields below and click Place Order - if there is a card error look here for a message.</div>';
	} else {
		echo '<div class="alert alert-danger" id="error_span">Input Field Error below—check it out!</div>';
	}
}
echo '<div class="alert alert-danger" role="alert">
We are still in TEST mode. 4242424242424242 is a valid VISA number.  Try 4000000000000002 for card decline error.</div>';
include('./includes/form_functions.inc.php');
?>
<fieldset>

	<!--<div class="field"><label for="cc_number"><strong>Card Number</strong></label><br /><input type="text" id="cc_number" autocomplete="off" value="4242424242424242" /></div> -->
	<div class="mb-3"><label for="cc_number"><strong>Card Number</strong></label><br /><input type="text" name="cardnumber" id="cc_number" required autocomplete="cc_number" placeholder="1234123412341234" value="" /></div>

	<div class="mb-3"><label for="exp_date"><strong>Expiration Date </strong></label><br /><input type="text" name="cc-exp-month" id="cc_exp_month" required autocomplete="cc-exp-month" placeholder="MM" value="" />/<input type="text" name="cc-exp-year" id="cc_exp_year" required autocomplete="cc-exp-year" placeholder="YYYY" value="" /></div>

	<div class="mb-3"><label for="cc_cvv"><strong>CVV</strong></label><br /><input type="text" name="cvc" id="cc_cvv" required autocomplete="cc-csc" value="" /></div>

	
<?php	
echo '<div class="text-center mb-4">';
echo '<h2>Order Information</h2><div class="popup" onclick="shipFunction()"><img style="border:0;" src="/livewater/images/info_icon.png" alt="Info" height="21" width="21">
 <span class="popuptext" id="shipPopup">If you need to change your order information go back one page and make changes.</span>
</div></div>';
?>
	<div class="field"><label for="cc_pickup"><strong>Pick-up Day and Time </strong></label><br /><?php create_form_input('cc_pickup', 'text', $billing_errors, $values); ?></div>

	<div class="field"><label for="cc_first_name"><strong>First Name </strong></label><br /><?php create_form_input('cc_first_name', 'text', $billing_errors, $values); ?></div>

	<div class="field"><label for="cc_last_name"><strong>Last Name </strong></label><br /><?php create_form_input('cc_last_name', 'text', $billing_errors, $values); ?></div>
	
	<div class="field"><label for="cc_address"><strong>Street Address </strong></label><br /><?php create_form_input('cc_address', 'text', $billing_errors, $values); ?></div>

	<div class="field"><label for="cc_city"><strong>City </strong></label><br /><?php create_form_input('cc_city', 'text', $billing_errors, $values); ?></div>

	<div class="field"><label for="cc_state"><strong>State </strong></label><br /><?php create_form_input('cc_state', 'select', $billing_errors, $values); ?></div>

	<div class="field"><label for="cc_zip"><strong>Zip Code </strong></label><br /><?php create_form_input('cc_zip', 'text', $billing_errors, $values); ?></div>
		
	<br clear="all" />
	
<div align="center" id="submit_div"><input type="submit" value="Place Order" class="btn btn-info" /></div></fieldset></form>
<div class="alert alert-info">By clicking this button, your order will be completed and your credit card will be charged.</div>
</div> <!-- jumbotron -->
<?php //echo '<div style="background-color:rgba(0,255,0,0.3);" class="jumbotron">'; 
//echo '<p>Please enter your billing information below. Then click the button to complete your order. For your security, we will not store your billing information in any way. We accept Visa, MasterCard, American Express, and Discover.</p>';
//echo '</div>'; ?> 

<script type="text/javascript">
Stripe.setPublishableKey('pk_test_JRGK5txjD4IIgyJU5ztDwSz1');
</script>
<!-- *URL*<script type="text/javascript" src="/js/billing.js"></script> -->
<script type="text/javascript" src="/livewater/js/billing.js"></script>