<div style="background-color:rgba(0,255,0,0.3);" class="jumbotron"> <!-- jumbotron -->

<!-- <div ><img class="img-responsive"  src="/images/m44-shippingeasy-logo-support.jpg"  width="33%" height="33%" /></div> -->
<div ><img class="img-responsive"  src="/livewater/images/m44-shippingeasy-logo-support.jpg"  width="33%" height="33%" /></div>
<br clear="all" />

<?php // Display the cart:
include('./views/checkout_cart.html');

if (empty($shipping_errors)) { 

} else {
echo '<div class="alert alert-danger" role="alert">
  Input Field Error below—check it out! 
</div>';
}
echo '<h2>Your Shipping Information</h2>';
//echo '<p><div class="popup" onclick="checkFunction()"><img src="/images/info_icon.png" alt="Info" height="21" width="21">
echo '<p><div class="popup" onclick="checkFunction()"><img src="/livewater/images/info_icon.png" alt="Info" height="21" width="21">
  <span class="popuptext" id="checkPopup">Please enter your shipping information. On the next page,  you\'ll be able to enter your billing information and complete the order. Please check the first box if your shipping and billing addresses are the same. <span class="required">*</span> Indicates a required field. </span>
</div></p>';

?>
<!--<form action="/checkout.php" method="POST"> -->
<form action="/livewater/checkout.php" method="POST">
<?php // Need the form function:
include('./includes/form_functions.inc.php');
?>
	<fieldset>
	<!--<div class="field"><label for="use"><strong>Use Same Address for Billing?</strong></label><br /><input type="checkbox" name="use" value="" id="use" <?php if (isset($_POST['use'])) echo 'checked="checked" ';?>/></div>-->

	<div class="field"><label for="first_name"><strong>First Name <span class="required">*</span></strong></label><br /><?php create_form_input('first_name', 'text', $shipping_errors); ?></div>
	
	<div class="field"><label for="last_name"><strong>Last Name <span class="required">*</span></strong></label><br /><?php create_form_input('last_name', 'text', $shipping_errors); ?></div>

	<div class="field"><label for="address1"><strong>Street Address <span class="required">*</span></strong></label><br /><?php create_form_input('address1', 'text', $shipping_errors); ?></div>

	<div class="field"><label for="address2"><strong>Street Address, Continued</strong></label><br /><?php create_form_input('address2', 'text', $shipping_errors); ?></div>

	<div class="field"><label for="city"><strong>City <span class="required">*</span></strong></label><br /><?php create_form_input('city', 'text', $shipping_errors); ?></div>
	
	<div class="field"><label for="state"><strong>State <span class="required">*</span></strong> </label><br /><?php create_form_input('state', 'select', $shipping_errors); ?></div>
	
	<div class="field"><label for="zip"><strong>Zip Code <span class="required">*</span></strong></label><br /><?php create_form_input('zip', 'text', $shipping_errors); ?></div>

	<div class="field"><label for="phone"><strong>Phone Number <span class="required">*</span></strong></label><br /><?php create_form_input('phone', 'text', $shipping_errors); ?></div>

	<div class="field"><label for="email"><strong>Email Address <span class="required">*</span></strong></label><br /><?php create_form_input('email', 'email', $shipping_errors); ?></div>
	
	<br clear="all" />
	
<div align="center"><input type="submit" value="Continue onto Billing" class="btn btn-info" /></div></fieldset></form>
</div> <!-- jumbotron -->
<?php //echo '<div style="background-color:rgba(0,255,0,0.3);" class="jumbotron">'; 
//echo '<p>Please enter your shipping information. On the next page,  you\'ll be able to enter your billing information and complete the order. Please check the first box if your shipping and billing addresses are the same. <span class="required">*</span> Indicates a required field. </p>';
//echo '</div>'; ?> 
<!-- <script type="text/javascript" src="/js/checkout.js"></script> -->
<script type="text/javascript" src="/livewater/js/checkout.js"></script>

