<?php

echo '<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/livewater/images/cheese_sample.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/livewater/images/stand_sign.jpg" alt="Second slide">
    </div>
  </div>
</div>';
echo '<div style="background-color:rgba(192,192,192);" class="jumbotron">';
echo '<p>Welcome to the Farm Stand at Livewater!<br>Please use the links at the top to browse through our catalog. </p>';
//echo '<img class="img-responsive";  src="/livewater/images/farmstand.jpg";  style="position: relative;width: 50%;height: 50%;"  />
echo '<p>If you\'ve been here before, you can find things you bookmarked by clicking on your Wishlist and Cart links. </p>';
echo '</div>';

//echo '<img class="img-responsive";  src="/images/farmstand.jpg";  style="position: relative;width: 50%;height: 50%;"  />

echo '<div style="background-color:rgba(192,192,192);" class="jumbotron">';

echo '<div class="wrapper">';


if (mysqli_num_rows($r) > 0) {
	
	echo '<dl class="special fright">
		<dt><a href="/shop/sales/">Sale Items</a></dt>';
	echo '</dl>';
echo '<ul class="list-unstyled">';

   while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
   	//echo '<li><p><a href="/livewater/shop/sales/#' . $row['sku'] . '" title="View This Product"><img alt="" src="/livewater/products/' . $row['image'] . '" /><span>' . $row['sale_price'] . '</span></a></p></li>';
   	echo '<li><p><a href="/shop/sales/#' . $row['sku'] . '" title="View This Product"><img alt="" src="/livewater/products/' . $row['image'] . '" /><span>' . $row['sale_price'] . '</span></a></p></li>';
   }
	
	echo '</ul>';

} // End of mysqli_num_rows() IF.
echo '</div>'; // wrapper
echo '</div>';

echo '<div style="background-color:rgba(192,192,192);" class="jumbotron">';

echo '<h3>About Livewater Farm & Dairy</h3>
<p><img style="float:left"; class="img-responsive"; style="float:left"; src="/livewater/images/barnsky.jpg" width="50%" height="50%" />
Livewater Farm is a grass-based dairy operation producing 100% grass-fed raw cow\'s milk, in addition to fresh grass-fed beef, pasture-raised chicken, milk-fed pork, free range eggs, garden vegetables, maple syrup, canned goods, and a wide variety of other sustainably produced farm products. In 2015, Livewater Dairy was established as a farmstead dairy processor located on Livewater Farm. </p><p>Using only the freshest, 100% grass-fed milk produced on site by Livewater Farm, Livewater Dairy produces fresh cheese, aged raw milk cheese, and sweet cream butter.</p>';

echo '</div>';

echo     '<div class="row marketing">
        <div class="col-lg-6">
        </div>

        <div class="col-lg-6">
        </div>
      </div>';
echo '<script type="text/javascript" src="/livewater/js/home.js"></script>';
//echo '<script type="text/javascript" src="/js/home.js"></script>';
