<?php 

echo '<div style="background-color:rgba(192,192,192);" class="jumbotron">';


echo '<ul class="list-unstyled">';

while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) { // Fetch each item.
	
	// Print the item within some HTML:
	echo '<li><h4>' . $row['category'] . ' </h4>
                <p><img alt="' . $row['category'] . '" src="/livewater/products/' . $row['image'] . '" /><br />' . $row['description'] . '<br />
                <a href="/livewater/browse/' . $type . '/' . urlencode($row['category']) . '/' . $row['id'] . '" class="h3">View All ' . $row['category'] . ' Products</a></p>
             </li>';	

}

echo '</ul>';

echo '</div>';
if (isset($_GET['type']) && ($_GET['type'] === 'goodies')) {
	echo '<script type="text/javascript" src="/livewater/js/goodies.js"></script>';
}
if (isset($_GET['type']) && ($_GET['type'] === 'cheese')) {
	echo '<script type="text/javascript" src="/livewater/js/coffee.js"></script>';
}

?>
