<?php // This page is included by browse.php.
$header = false; 

include('./includes/product_functions.inc.php');

while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {

	if (!$header) {
		echo '<div style="background-color:rgba(192,192,192);" class="jumbotron">';


		echo '<h2>' . $category . '</h2>
				<div class="row">
				<div class="col-md-4">
		             	<img class="img-fluid" alt="' . $category . '" src="/livewater/products/' . $row['g_image'] . '" /></div><div class="col-md-8"><p>'. $row['g_description'] . '</p></div>
		          </div>';


		echo '<p><br clear="all" /></p>';


		$header = true;

	} // End of $header IF.

	echo '<h3>' . $row['name'] . '</h3>
			<div class="row">
			<div class="col-md-4">
		<img class="img-fluid" alt="' . $row['name'] . '" src="/livewater/products/' . $row['image']  . '" /></div><div class="col-md-8"><p>' . $row['description'] . '</p></div></div><p>' . get_price($type, $row['price'], $row['sale_price']) . 
		'<strong>Availability:</strong> ' . get_stock_status($row['stock']) . '</p>
		<p><a href="/livewater/cart.php?sku=' . $row['sku'] . '&action=add" class="btn btn-info">Add to Cart</a></p>';
//		<img alt="' . $row['name'] . '" src="/livewater/products/' . $row['image']  . '" /></div><div class="col-md-8"><p>' . $row['description'] . '</p></div></div><p>' . get_price($type, $row['price'], $row['sale_price']) . 
  	
} // End of WHILE loop. 

echo '<p> <br clear="all" /></p>';

echo '</div>';
if (isset($_GET['type']) && ($_GET['type'] === 'farm')) {
	echo '<script type="text/javascript" src="/livewater/js/goodies.js"></script>';
//	echo '<script type="text/javascript" src="/js/goodies.js"></script>';
}
if (isset($_GET['type']) && ($_GET['type'] === 'dairy')) {
	echo '<script type="text/javascript" src="/livewater/js/coffee.js"></script>';
}

