<?php 

$header = false; 

include('./includes/product_functions.inc.php');

while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
	
	if (!$header) {
		echo '<div id="jumbotron" class="jumbotron">';
		echo '<div class="text-center mb-4">';

		echo '<h3>' . $category . '</h3>
		<div class="row">
		<div class="col-md-6">
			<img class="img-fluid" alt="' . $category . '" src="/livewater/products/' . $row['image'] . '" /></div>
		<div class="col-md-6"><u>Description</u><p>' . $row['description'] . '</p>
			<p>All listed products are currently available.</p>
		';
		echo '';
		//echo '<form action="/cart.php" method="get">
		echo '<form action="/livewater/cart.php" method="post" onsubmit="return validateRecaptcha();">
			<input type="hidden" name="action" value="add" /><p><small><select class="custom-select" style="width: 75%"; name="sku" required>';
		echo '<option value="">Please select a product</option>';
		$header = true;

	} // End of $header IF.

	echo '<option value="' . $row['sku'] . '">' . $row['name'] . get_price($type, $row['price'], $row['sale_price']) . '</option>';
	
} // End of WHILE loop. 

//echo '</select></small></p> <div id="html_element"></div><br>
echo '</select></small></p>
	<div class="g-recaptcha" data-sitekey="6LeEPJEaAAAAAGNq9pi6ByqHP_E7P92x8RpRVWew"></div>
<input type="submit" value="Add to Cart" class="btn btn-info" /></form></div></div>';
echo '<script type="text/javascript">
  var onloadCallback = function() {
  };
  function validateRecaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            alert("click not a robot");
            return false;
        } else {
           // alert("validated");
            return true;
        }
    }
</script>';
echo '<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>';
echo '</div></div>';

if (isset($_GET['type']) && ($_GET['type'] === 'beef')) {
	echo '<script type="text/javascript" src="/livewater/js/beef.js"></script>';
} elseif (isset($_GET['type']) && ($_GET['type'] === 'bread')) {
	echo '<script type="text/javascript" src="/livewater/js/bread.js"></script>';
}  elseif (isset($_GET['type']) && ($_GET['type'] === 'cand')) {
	echo '<script type="text/javascript" src="/livewater/js/cand.js"></script>';
} elseif (isset($_GET['type']) && ($_GET['type'] === 'java')) {
	echo '<script type="text/javascript" src="/livewater/js/java.js"></script>';
} elseif (isset($_GET['type']) && ($_GET['type'] === 'goodies')) {
	echo '<script type="text/javascript" src="/livewater/js/goodies.js"></script>';
//	*URL*echo '<script type="text/javascript" src="/js/goodies.js"></script>';
} elseif (isset($_GET['type']) && ($_GET['type'] === 'dairy')) {
	echo '<script type="text/javascript" src="/livewater/js/dairy.js"></script>';
} elseif (isset($_GET['type']) && ($_GET['type'] === 'produce')) {
	echo '<script type="text/javascript" src="/livewater/js/produce.js"></script>';
} elseif (isset($_GET['type']) && ($_GET['type'] === 'maple')) {
	echo '<script type="text/javascript" src="/livewater/js/maple.js"></script>';
}

