<?php 
include('./includes/product_functions.inc.php');

echo '<div id="jumbotron" class="jumbotron">';
echo '<div class="text-center mb-4">';
echo '<h2>Brattleboro Farmer&apos;s Market Products</h2>';
echo '<h3>These products available for curbside pickup at the BFM</h3>';
echo '<p>When selecting the pickup time during the checkout process please choose BFM Curbside.</p>';

while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
	


	echo '<h3 id="' . $row['sku'] . '">' . $row['category'] . '::' . $row['name'] .'</h3>
  	<div class="row">
		<div class="col-md-6">
     	<img class="img-fluid" alt="' . $row['name'] . '" src="/livewater/products/' . $row['image']  . '" /></div>
		<div class="col-md-6"><u>Description</u><p>' . $row['description'] . '</p>
		<p>' . 
		get_price('goodies', $row['price'], $row['sale_price']) . '
		<strong>Availability:</strong> ' . get_stock_status($row['stock']) . '</p>';
		
//		echo '<p><a href="/livewater/cart.php?sku=' . $row['sku'] . '&action=add&sales=yes" class="btn btn-info">Add to Cart</a></p>';

		echo '<form action="/livewater/cart.php" method="post" onsubmit="return validateRecaptcha();">
			<input type="hidden" name="action" value="add" /><input type="hidden" name="sku" value=' . $row['sku'] . ' />';
		echo '<div class="g-recaptcha" data-sitekey="6LeEPJEaAAAAAGNq9pi6ByqHP_E7P92x8RpRVWew"></div> <div id="html_element"></div><br>';
		echo '<input type="submit" value="Add to Cart" class="btn btn-info" /></form>';
		
		echo '</div></div>';

					
}
echo '<script type="text/javascript">
  var onloadCallback = function() {
  };
  function validateRecaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            alert("click not a robot");
            return false;
        } else {
           // alert("validated");
            return true;
        }
    }
</script>';
echo '<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>';

echo '</div></div>';
	//echo '<script type="text/javascript" src="/js/sales.js"></script>';
	echo '</div><script type="text/javascript" src="/livewater/js/sales.js"></script>';
