<?php 
if ($type == 'maple') {
	echo '<div id="jumbotron" class="jumbotron">';
	echo '<div class="container">
			<h3>About Livewater Maple Syrup</h3>
			<div class="row">
				<div class="col-md-6">	
				<img class="img-responsive"; src="/livewater/images/sugar_horse2.jpg" />
	<p>Pure Vermont Maple Syrup – Collected in traditional sap buckets and gathered using a sleigh pulled by our team of horses and boiled down on a wood fired evaporator.</p>
				</div>
				<div class="col-md-6">	
				<img class="img-responsive"; src="/livewater/images/maple_grades_160.jpeg"  />
	<p>Livewater Farm produces 3 grades of maple syrup: Grade A: Amber Color with Rich Taste, Grade A: Dark Color with Robust Taste, and Grade A: Golden Color with Delicate Taste.</p>
				</div>
			</div>
		</div>';
	echo '</div>';
} 
while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) { // Fetch each item.


	
	// Print the item within some HTML:
	if ($type == 'dairy') {
		if ($row['id'] == 1 or $row['id'] == 0 or $row['id'] == 0) {
			echo '<div id="jumbotron" class="jumbotron">';
			echo '<div class="text-center mb-4">';
			echo '<ul class="list-unstyled">';
			echo '<li><h5>' . $row['category'] . ' </h5>
                <p><img class="img-fluid" alt="' . $row['category'] . '" src="/livewater/products/' . $row['image'] . '" /><br />' . $row['description'] . '</p>
                <h4><a href="/livewater/browse/' . $type . '/' . urlencode($row['category']) . '/' . $row['id'] . '" class="">View All ' . $row['category'] . ' <br>Products</a></h4>
             </li>';	
//                <p><img alt="' . $row['category'] . '" src="/products/' . $row['image'] . '" /><br />' . $row['description'] . '<br />
//                <a href="/browse/' . $type . '/' . urlencode($row['category']) . '/' . $row['id'] . '" class="btn btn-default">View All ' . $row['category'] . ' <br>Products</a></p>
			echo '</ul>';
			echo '</div></div>';
		}
	} elseif ($type == 'maple') {
		if ($row['id'] == 4 or $row['id'] == 5 or $row['id'] == 6) {
			echo '<div id="jumbotron" class="jumbotron">';
			echo '<div class="text-center mb-4">';
			echo '<ul class="list-unstyled">';
			echo '<li><h5>' . $row['category'] . ' </h5>
                <p><img class="img-fluid" alt="' . $row['category'] . '" src="/livewater/products/' . $row['image'] . '" /><br />' . $row['description'] . '</p>
                 <h4><a href="/livewater/browse/' . $type . '/' . urlencode($row['category']) . '/' . $row['id'] . '" class="">View All ' . $row['category'] . ' Products</a></h4>
            </li>';	
			echo '</ul>';
			echo '</div></div>';
		}
	} elseif ($type == 'goodies') {
		if ($row['id'] == 5) {
			echo '<div id="jumbotron" class="jumbotron">';
			echo '<div class="text-center mb-4">';
			echo '<ul class="list-unstyled">';
			echo '<li><h5>' . $row['category'] . ' </h5>
                <p><img class="img-fluid" alt="' . $row['category'] . '" src="/livewater/products/' . $row['image'] . '" /><br />' . $row['description'] . '</p>
                <h4><a href="/livewater/browse/' . $type . '/' . urlencode($row['category']) . '/' . $row['id'] . '" class="">View All ' . $row['category'] . ' Products</a></h4>
             </li>';	
			echo '</ul>';
			echo '</div></div>';
		}
	}
}

if (isset($_GET['type']) && ($_GET['type'] === 'goodies')) {
	echo '<script type="text/javascript" src="/livewater/js/goodies.js"></script>';
//	echo '<script type="text/javascript" src="/js/goodies.js"></script>';
}
if (isset($_GET['type']) && ($_GET['type'] === 'dairy')) {
	echo '<script type="text/javascript" src="/livewater/js/coffee.js"></script>';
}
if (isset($_GET['type']) && ($_GET['type'] === 'maple')) {
	echo '<script type="text/javascript" src="/livewater/js/maple.js"></script>';
}

?>
