<div id="jumbotron" class="jumbotron">
  <h2><?php echo $category; ?></h2>
  <h5>Unfortunately there are no products to list in this category. Please use the links at the top of the page to continue shopping. We apologize for the inconvenience.</h5>
</div>
<?php 
if (isset($_GET['type']) && ($_GET['type'] === 'farm')) {
	echo '<script type="text/javascript" src="/livewater/js/goodies.js"></script>';
//	echo '<script type="text/javascript" src="/livewater/js/goodies.js"></script>';
}
if (isset($_GET['type']) && ($_GET['type'] === 'dairy')) {
	echo '<script type="text/javascript" src="/livewater/js/coffee.js"></script>';
}
if (isset($_GET['type']) && ($_GET['type'] === 'maple')) {
	echo '<script type="text/javascript" src="/livewater/js/maple.js"></script>';
}
?>